<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Imóveis Cadastrados</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Imóveis</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Tipo de Imovel</th>
                    <th>Descrição/th>
                    <th>Area_construida</th>
                </tr>
            </thead>
            <tbody>
                {% for Imovel in imoveis %}
                <tr>
                    <td>{{ Imovel.nome }}</td>
                    <td>{{ Imovel.tipo_imovel }}</td>
                    <td>{{ Imovel.descricao }}</td>
                    <td>{{ Imovel.area_construida }}</td>
                    <td>{{ Imovel.quantidade_comodos }}</td>
                    <td>{{ Imovel.tipo_logradouro}}</td>
                    <td>{{ Imovel.logradouro}}</td>
                    <td>{{ Imovel.bairro}}</td>
                    <td>{{ Imovel.cidade}}</td>
                    <td>{{ Imovel.uf}}</td>
                    <td>{{ Imovel.cep}}</td>
                    <td>{{ Imovel.valor_de_venda}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
